<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mdp.librarydelivery">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryDelivery"
        tools:targetApi="31">
        <activity
            android:name=".AdminDeliveryDetails"
            android:exported="false"
            android:label="Delivery Details"
            android:parentActivityName=".AdminDeliveryList"/>
        <activity
            android:name=".AdminDeliveryList"
            android:exported="false"
            android:label="Delivery List"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".AdminBookLoanDetails"
            android:exported="false"
            android:label="Book Loan Details"
            android:parentActivityName=".AdminLoanList" />
        <activity
            android:name=".AdminLoanList"
            android:exported="false"
            android:label="Book Loan List"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".AdminUserDetails"
            android:exported="false"
            android:label="User Details"
            android:parentActivityName=".AdminUserList" />
        <activity
            android:name=".AdminUserCreate"
            android:exported="false"
            android:label="Create User"
            android:parentActivityName=".AdminUserList" />
        <activity
            android:name=".AdminUserList"
            android:exported="false"
            android:label="User List"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".AdminBookCreate"
            android:exported="false"
            android:label="Create Book"
            android:parentActivityName=".AdminBookList" />
        <activity
            android:name=".AdminBookDetails"
            android:exported="false"
            android:label="Book Details"
            android:parentActivityName=".AdminBookList" />
        <activity
            android:name=".AdminBookList"
            android:exported="false"
            android:label="Book List"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".DelivererDeliveryDetails"
            android:exported="false"
            android:label="Delivery Details"
            android:parentActivityName=".DelivererHome" />
        <activity
            android:name=".DelivererHome"
            android:exported="false"
            android:label="Delivery List" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:parentActivityName=".UserHome" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserDeliveryDetails"
            android:exported="false"
            android:label="Delivery Details"
            android:parentActivityName=".UserHome" />
        <activity
            android:name=".UserBookLoanDetails"
            android:exported="false"
            android:label="Book Loan Details"
            android:parentActivityName=".UserHome" />
        <activity
            android:name=".UserBookDetails"
            android:exported="false"
            android:label="Book Details"
            android:parentActivityName=".UserHome" />
        <activity
            android:name=".UserHome"
            android:exported="true"
            android:label="@string/title_activity_user_home"
            android:theme="@style/Theme.LibraryDelivery.NoActionBar" />
        <activity
            android:name=".manage_book_loans_rule"
            android:exported="false" />
        <activity
            android:name=".manage_book_loans"
            android:exported="false" />
        <activity
            android:name=".View_delivery"
            android:exported="false" />
        <activity
            android:name=".view_users"
            android:exported="false" />
        <activity
            android:name=".Manage_books"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>